ul li {
    list-style: none;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

/*---------HEADER-----------------------------------------------------------------------------*/
header {
    word-wrap: break-word;
    background: #000000;
}

nav {
    background: #FFD700;
}

/*---------TABLE--------------------------------------------------------------------------------------*/
.nechet {
    background: #FFD700;
}

.col-name {
    color: rgb(255, 215, 0);
    background: rgb(0, 0, 0);
}

.table {
    margin: 0 0 0 17px;
}

/*---------FOOTER--------------------------------------------------------------------------------------*/
.footer {
    background: #FFD700;
}